:host {
  width: 100%;
}

:host[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

button {
  padding: 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  border-radius: 0.75rem;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}

button.tight {
  padding: 0.75em 1em;
}

button:hover {
  opacity: 0.8;
}

.icon {
  height: 2em;
}

.spinner {
  position: absolute;
  height: 1.5em;
  margin-left: 0.25em;
  right: 2.5%;
}
