.entry {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9; /* просто указываем соотношение сторон */
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
