:host {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  min-width: 0;
}

.entry-name {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;  /* не сжимать */
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
