:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: 2rem;
  min-height: 100vh;
}

.logo {
  width: 50%;
  height: auto;
}

@media (orientation: portrait) {
  .logo {
    width: 90%;
  }

  :host {
    font-size: 1.25rem;
  }
}
