:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 100%;
  font-size: 110%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.welcome-block-container {
  grid-area: 1 / 1 / 3 / 2;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

.logo {
  width: 50%;
  height: auto;
}

.info p {
  align-self: flex-start;
}

.info p:first-of-type {
  font-weight: bold;
}

.about-block-container {
  grid-area: 3 / 1 / 4 / 2;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  height: 100%;
}

.about-me > p:first-of-type {
  font-weight: bold;
}

.about-me-block {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.pfp {
  height: 10rem;
  border-radius: 100%;
}

.auth-block-container {
  grid-area: 2 / 2 / 4 / 3;
}

.auth-error {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0.75em 1em;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

.welcome-texts {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
}

.welcome-texts p {
  font-weight: 300;
}

.or {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.or__line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

.or__text {
  color: rgba(255, 255, 255, 0.25);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 1em;
  font-size: 60%;
  width: 100%;
  padding: 1em;
}

input {
  padding: 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 0.75rem;
  width: 100%;
  font-size: 1rem;
}

.label-and-error {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.bar {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

.error {
  color: white;
}

@media screen and (max-width: 1000px) {
  :host {
    padding: 1em;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .welcome-block-container {
    order: 1;
  }

  .auth-block-container {
    order: 2;
  }

  .about-block-container {
    order: 3;
  }

  .buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .form {
    padding: 0.5em;
  }

  .pfp {
    display: none;
  }
}
