* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  border: none;
  outline: none;
  color: var(--text);
}

:root {
  --text: #FDF6EB;
}

body {
  background-image: url("/images/background.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}

html, body {
  width: 100%;
  height: 100vh;
}

.glass-card {
  background: rgba(35, 47, 51, 0.5);
  border-radius: 16px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #344044;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 4px 30px rgba(0, 0, 0, 0.1);
}
